$menuWidth : 160px;
$menuWidthNegative : -1*$menuWidth;
$menuLocation : left; /* This can be either left or right */
$transitionPageContent : left 0.4s ease-in;
$transitionSidebar : left 0.4s ease-in;
$transitionNavToggle : left 0.4s ease-in;
$transitionSubMenu : all 0.4s ease-in;