$transitionPage : all 0.4s ease-in;
$transitionLazyLoaded : opacity .333s ease-in;
$textAlignSections : center;

/* Positioning of page navigation buttons */
$pageNavButtonTop: 80px;
$pageNavButtonBottom: 80px;
