$transitionPage : all 0.4s ease-in;
$transitionLazyLoaded : opacity .333s ease-in;
$textAlignSections : center;
$notransition : none !important;
/* Positioning of page navigation buttons */
$pageNavButtonTop: 10px;
$pageNavButtonBottom: 10px;
