$menuWidth : 160px;
$menuHeight : 500px;
$menuWidthNegative : -1*$menuWidth;
$menuLocation : left;
$transitionSidebar : all 0.5s ease-out 0.5s;
$transitionNavToggle : all 0.15s ease-out 0s;
$transitionSubMenu : all 0.5s ease-out;
$transitionPageContent : all 0.5s ease-out;
