@import "bourbon/bourbon";


body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

div#scroll-body {
  position: absolute;
  height: 100%;
  width:100%;
  top: 0%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  @include transition(left 0.4s ease-in);
}


section {
  text-align: center;
}

.blue {
  background-color: blue;
  color: white;
}




.magenta {
  background-color: magenta;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.yellow {
  background-color: yellow;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.aqua {
  background-color: aqua;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
  position: relative; /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
  background: rgba(0,0,0,1) url("images/loader.gif") no-repeat scroll center center;
}
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto; height: auto;
  min-width: 100%; min-height: 100%;
  max-height: none; max-width: none;
}


.lazy {
  opacity: 0;
  transition: opacity .333s ease-in;
}

.lazy-loaded {
  opacity: 1;
}



#frog {
	position : relative;
	top: -100%;	
	left:0px;
	width:100%;
	height:100%;
	color : white;
	padding : 20px;
	text-align: center;
	margin:auto;
}



$menuWidth : 160px;
$menuWidthNegative : -1*$menuWidth;

.main {
    z-index : 0;
    @include transition(left 0.4s ease-in);
    transform: translate3d(0, 0, 0);   
}
.gen-page-content {    
    left: 0px;
    margin: 0px 0px 0px 0px;
    @include transition(left 0.4s ease-in);
    transform: translate3d(0, 0, 0);  
    text-align: center;  
}

.gen-sidebar {
    @include position(absolute, 0px null null $menuWidthNegative);
    background : #333;
    z-index : 0;
    width: $menuWidth;
    height: 100%;
    padding: 30px;
   @include transition(left 0.4s ease-in);
    transform: translate3d(0, 0, 0);    
    ul {
        padding: 0px 0px 0px 0px;
        li {
            a {
                color : rgba(255,255,255,0.8);
                text-decoration: none;
                &:hover {
                    color : rgba(255,255,255,1);
                }
            }
        }
    }
}


.gen-nav-toggle {
    @include position(absolute, 0px 0 0 0px);
    font-size: 30px;
    font-weight: bold;
    display: block;
    z-index: 1;
    cursor: pointer;
    height:38px;
    width: 38px;
    line-height: 30px;
    color: white;
    background-color: transparent;
    padding: 4px 4px 4px 4px;
    @include transition(left 0.4s ease-in);
    transform: translate3d(0, 0, 0);    
}



#genSidebarToggler {
    display: none;
    
    & {
    
        + .gen-page-wrap {
            .gen-sidebar { 
                @include position(absolute, 0px null null $menuWidthNegative); 
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0); 
            }
            
            .gen-nav-toggle {                
                left: 0px;
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0);
            }
            .gen-page-content {                
                left: 0px;
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0);
            }
        }   
    }
    
    
    &:checked {
        + .gen-page-wrap {
            .gen-sidebar {  
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0);                            
                left: 0px;
            }
            .gen-nav-toggle {                
                left: $menuWidth;
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0);
            }
            .gen-page-content {                
                left: $menuWidth;
                @include transition(left 0.4s ease-in);
                transform: translate3d(0, 0, 0);
            }
        }
    }
}








ul.submenu {
    overflow: hidden;
    height: 0px;
    @include transition();
}


.nav-button-wrapper-up, .nav-button-wrapper-down {
	position: absolute;
	text-align: center;
	width:100%;
}

.nav-button-wrapper-down {
	bottom: 80px;
}

.nav-button-wrapper-up {
	top: 80px;
}



.carousel {
    margin: auto;
    width: 400px;
}

.carousel-inner {
	text-align : center;
	.item {
	   text-align : center;
	   margin: auto;
	    img {
	           margin: auto;
            }
    }       
}


.slick-carousel {
	margin : auto;
	width: 400px;
}

.slick-list {
    margin: auto;
    width: 400px;
}

.slick-slide {
	text-align: center;
	img {
	   margin:auto;
	}
}

.slick-dots {
	bottom: -55px;
}

