@import "bourbon/bourbon";

header.left {
    color: $header-color;
    width:$header-width;
    z-index: $header-z-index;
    @include position($header-position,$header-top null null $header-left);
    h1 {
        @include position($header-h1-position,$header-h1-top null null $header-left-h1-left);
        @include margin($header-h1-margin);
        font-size: $header-h1-font-size;
    }
    i {
        @include margin($header-i-margin);
        @include padding($header-i-padding);
        border: $header-i-border;
        cursor: $header-i-cursor;
    }

    .logo {
        width:$header-logo-width;
        @include position($header-logo-position,$header-logo-top $header-left-logo-right null null);
        z-index: $header-logo-z-index;
    }
}

header.right {
    color: $header-color;
    width:$header-width;
    z-index: $header-z-index;
    @include position($header-position,$header-top null null $header-left);
    h1 {
        @include position($header-h1-position,$header-h1-top null null $header-right-h1-left);
        @include margin($header-h1-margin);
        font-size: $header-h1-font-size;
    }
    i {
        @include margin($header-i-margin);
        @include padding($header-i-padding);
        border: $header-i-border;
        cursor: $header-i-cursor;
        @include position($header-right-i-position, null $header-right-i-right null null);
    }
}


header.top {
	color: $header-color;
    width:$header-width;
    z-index: $header-z-index;
    @include position($header-top-position,$header-top null null $header-left);
    h1 {
        @include position($header-h1-position,$header-h1-top null null $header-right-h1-left);
        @include margin($header-h1-margin);
        font-size: $header-h1-font-size;
    }
    i {
        @include margin($header-i-margin);
        @include padding($header-i-padding);
        border: $header-i-border;
        cursor: $header-i-cursor;
        @include position($header-right-i-position, null $header-right-i-right null null);
    }
}
