@import "bourbon/bourbon";

$menuWidth : 160px;
$menuWidthNegative : -1*$menuWidth;

.gen-page-content {
    position : relative;
    z-index : 0;
    left: 0px;
    margin: 65px 0 0 10px;
    max-width: 80%;
    @include transition();
}

.gen-sidebar {
    @include position(fixed, 0px null null $menuWidthNegative);
    background : #333;
    z-index : 0;
    width: $menuWidth;
    height: 100%;
    padding: 30px;
    @include transition();
    ul {
        padding: 0px 0px 0px 0px;
        li {
            a {
                color : rgba(255,255,255,0.8);
                text-decoration: none;
                &:hover {
                    color : rgba(255,255,255,1);
                }
            }
        }
    }
}


.gen-nav-toggle {
    @include position(fixed, 0px 0 0 25px);
    font-size: 30px;
    font-weight: bold;
    display: block;
    z-index: 1;
    cursor: pointer;
    max-width:80%;
    height:65px;
    line-height: 40px;
    color: black;
    background-color: white;
    @include transition();
}



#genSidebarToggler {
    display: none;

    &:checked {
        + .gen-page-wrap {
            .gen-sidebar {
                left: 0px;
            }
            .gen-nav-toggle {
                left: 180px
            }
            .gen-page-content {
                left: $menuWidth;
            }
        }
    }
}



ul.submenu {
	overflow: hidden;
	height: 0px;
	@include transition();
}