body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

div#scroll-body {
  position: absolute;
  height: 100%;
  width:100%;
  top: 0%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

div#scroll-body.page2 {
  height: 100%;
  top: -100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}

div#scroll-body.page2.page3 {
  top: -200%;
  height: 100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}

div#scroll-body.page2.page3.page4 {
  top: -300%;
  height: 100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}


div#scroll-body.page2.page3.page4.page5 {
  top: -400%;
  height: 100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}

div#scroll-body.page2.page3.page4.page5.page6 {
  top: -500%;
  height: 100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}

div#scroll-body.page2.page3.page4.page5.page6.page7 {
  top: -600%;
  height: 100%;
  transition : top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition : top 0.4s ease-in;
  -webkit-transition : top 0.4s ease-in;
}


section {
  text-align: center;
}

.blue {
  background-color: blue;
  color: white;
}




.magenta {
  background-color: magenta;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

.yellow {
  background-color: yellow;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.black {
  background-color: black;
  color: white;
}

.aqua {
  background-color: aqua;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
  position: relative; /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
  background: rgba(0,0,0,1) url("images/loader.gif") no-repeat scroll center center;
}
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto; height: auto;
  min-width: 100%; min-height: 100%;
  max-height: none; max-width: none;
}


.lazy {
  opacity: 0;
  transition: opacity .333s ease-in;
}

.lazy-loaded {
  opacity: 1;
}