@import "bourbon/bourbon";
@import "_one-page-scroll-variables";

body, html {
  margin: 0;
  overflow: hidden;
  @include transition(opacity 400ms);
}

.main {
    z-index : 0;
}

.pagetransition {
    @include transform(translate3d(0, 0, 0));
    @include transition($transitionPage);
}

.nopagetransition {
    @include transition(none !important);
}

div#scroll-body {
  position: absolute;
  height: 100%;
  width:100%;
  top: 0%;

}



div#scroll-body.page2 {
  height: 100%;
  top: -100%;
}
div#scroll-body.page2.page3 {
  top: -200%;
  height: 100%;
}

div#scroll-body.page2.page3.page4 {
  top: -300%;
  height: 100%;
}

div#scroll-body.page2.page3.page4.page5 {
  top: -400%;
  height: 100%;
}


div#scroll-body.page2.page3.page4.page5.page6 {
  top: -500%;
  height: 100%;
}


div#scroll-body.page2.page3.page4.page5.page6.page7 {
  top: -600%;
  height: 100%;
}

div#scroll-body.page2.page3.page4.page5.page6.page7.page8 {
  top: -700%;
  height: 100%;
}

div#scroll-body.page2.page3.page4.page5.page6.page7.page8.page9 {
  top: -800%;
  height: 100%;
}


div#scroll-body.page2.page3.page4.page5.page6.page7.page8.page9.page10 {
  top: -900%;
  height: 100%;
}


div#scroll-body.page2.page3.page4.page5.page6.page7.page8.page9.page10.page11 {
  top: -1000%;
  height: 100%;
}


div#scroll-body.page2.page3.page4.page5.page6.page7.page8.page9.page10.page11.page12 {
  top: -1100%;
  height: 100%;
}


section {
  text-align: $textAlignSections;
  max-width : 100%;
  position: relative;
}

div.content {
    position: absolute;
    top:0px;
}

/* This is mainly for the background images of each section ("page"). */
/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
  position: relative; /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
  background: rgba(0,0,0,1) url("images/loader.gif") no-repeat scroll center center;
}
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto; height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}



/* lazy loading styles */
.lazy {
  opacity: 0;
  @include transition($transitionLazyLoaded);
}

.lazy-loaded {
  opacity: 1;
}


/* page navigation buttons */
.nav-button-wrapper-up, .nav-button-wrapper-down {
  position: absolute;
  text-align: center;
  left : 50%;
}

.nav-button-wrapper-down {
  bottom: $pageNavButtonBottom ;
}

.nav-button-wrapper-up {
  top: $pageNavButtonTop;
}



/* Individual content part, this part you need to adapt, to fit your
 * individual content, if you need for instance on different pages
 * different animations, it is a good practice to assign each section
 * and ID.
 */

#frog, #kea {

	left:0px;
	width:100%;
	height:100%;
	color : white;
	padding : 20px;
	text-align: left;


	h2:nth-child(2) {
	   text-indent: -2000px;
	   @include transition(text-indent 0.5s ease-out 0.5s);
	   @include transform(translate3d(0, 0, 0));
       max-width: 90%;
	}

	p:nth-child(3) {
	   text-indent: -2000px;
       @include transition(text-indent 0.5s ease-out 1s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
	}
	p:nth-child(4) {
	   text-indent: -2000px;
	   @include transition(text-indent 0.5s ease-out 1.5s);
	   @include transform(translate3d(0, 0, 0));
       max-width: 90%;

	}

	img:nth-child(5) {
	   position: relative;
	   left: -2000px;
       @include transition(left 0.5s ease-out 2s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
	}

	h2.show, p.show {
       text-indent: 0px;
       max-width: 90%;
    }

    img.show {
        left: 0px;
        max-width: 90%;
    }
}

#sharkhorse, #monkey  {


    left:0px;
    width:100%;
    height:100%;
    color : white;
    padding : 20px;
    text-align: left;


    h2:nth-child(2) {
       text-indent: -2000px;
       @include transition(text-indent 1s ease-out 0.7s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
    }

    p:nth-child(3) {
       text-indent: -2000px;
       @include transition(text-indent 1s ease-out 1.2s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
    }
    p:nth-child(4) {
       text-indent: -2000px;
       @include transition(text-indent 1s ease-out 1.7s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;

    }

    img:nth-child(5) {
        @include transition(all 0.4s ease-in);
        @include position(relative, 200px null null 200px);
        opacity : 0;
        @include transform(translate3d(0, 0, 0) scale(1.3));
        max-width: 90%;
    }

    h2.show, p.show {
       text-indent: 0px;
       max-width: 90%;
    }

	img.show {
	   top: 0px;
	   left: 0px;
	   opacity: 1;
	   @include transform(scale(1.0));
       max-width: 90%;
	}
}


#zebras, #buffalo, #lion {


    left:0px;
    width:100%;
    height:100%;
    color : white;
    padding : 20px;
    text-align: left;


    h2:nth-child(2) {
       position: relative;
       left: 4000px;
       @include transition(left 1s ease-out 0.7s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
    }

    p:nth-child(3) {
       position: relative;
       left: 4000px;
       @include transition(left 1s ease-out 1.2s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;
    }
    p:nth-child(4) {
       position: relative;
       left: 4000px;
       @include transition(left 1s ease-out 1.7s);
       @include transform(translate3d(0, 0, 0));
       max-width: 90%;

    }

    img:nth-child(5) {
        @include transition(all 0.4s ease-in);
        @include position(relative, 200px null null 200px);
        opacity : 0;
        @include transform(translate3d(0, 0, 0) scale(1.3));
        max-width: 90%;
    }

    h2.show, p.show {
       left: 0px;
       max-width: 90%;
    }

    img.show {
       top: 0px;
       left: 0px;
       opacity: 1;
       @include transform(scale(1.0));
       max-width: 90%;
    }
}

div.overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.5;
    background-color: black;
}
