$paragraph-headline-font-family: 'bmwtypechineseregular';
$paragraph-headline-font-size: 2.25em;
$paragraph-headline-font-weight: bold;

$paragraph-subheadline-font-family: 'bmwtypechineseregular';
$paragraph-subheadline-font-size: 1.25em;
$paragraph-subheadline-font-weight: normal;

$paragraph-text-position: absolute;
$paragraph-text-color: #FFFFFF;

$paragraph-text-darkened-position: absolute;
$paragraph-text-darkened-color: darken(#FFFFFF,50%);


.paragraph-headlines {
    .headline {
        font-family: $paragraph-headline-font-family;
        font-size: $paragraph-headline-font-size;
        font-weight: $paragraph-headline-font-weight;
    }

    .subheadline {
        font-family: $paragraph-subheadline-font-family;
        font-size: $paragraph-subheadline-font-size;
        font-weight: $paragraph-subheadline-font-weight;
    }
}

.paragraph-text {
    position: $paragraph-text-position;
    color: $paragraph-text-color;
}

.paragraph-text-darkened {
    position: $paragraph-text-darkened-position;
    color: $paragraph-text-darkened-color;
}

