
@import 'bourbon/bourbon';

//
//    see http://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
//

nav {


    background: $nav-background-color none repeat scroll 0 0;
    h3 {
        i {
            position: $nav-close-position;
            margin-left: $nav-close-margin-left;
            top: $nav-close-top;
            right:$nav-close-right;
            padding: $nav-close-padding;
            cursor: $nav-close-cursor;
        }
    }
}


.cbp-spmenu {
	background: $cbp-spmenu-background;
	position: $cbp-spmenu-position;
}

.cbp-spmenu h3 {
	color: $cbp-spmenu-topmenu-h3-color;
	font-size: $cbp-spmenu-topmenu-h3-font-size;
	padding: $cbp-spmenu-topmenu-h3-padding;
	margin: $cbp-spmenu-topmenu-h3-margin;
	font-weight: $cbp-spmenu-topmenu-h3-font-weight;
	background: $cbp-spmenu-topmenu-h3-background;
}

.cbp-spmenu a {
	display: $cbp-spmenu-a-display;
	color: $cbp-spmenu-a-color;
	font-size: $cbp-spmenu-a-font-size;
	font-weight: $cbp-spmenu-a-font-weight;
    background: $cbp-spmenu-a-background;

}

.cbp-spmenu a:hover {
	background: $cbp-spmenu-a-hover-background;
}

.cbp-spmenu a:active {
	background: $cbp-spmenu-a-active-background;
	color: $cbp-spmenu-a-active-color;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: $cbp-spmenu-vertical-width;
	height: $cbp-spmenu-vertical-height;
	z-index: $cbp-spmenu-vertical-z-index;
    @include position($cbp-spmenu-vertical-position, $cbp-spmenu-vertical-position-top null null null);
}

.cbp-spmenu-vertical a {
	border-bottom: $cbp-spmenu-vertical-a-border-bottom;
	padding: $cbp-spmenu-vertical-a-padding;
}



.cbp-spmenu-horizontal {
	width: $cbp-spmenu-horizontal-width;
	height: $cbp-spmenu-horizontal-height;
	left: $cbp-spmenu-horizontal-left;
	z-index: $cbp-spmenu-horizontal-z-index;
	overflow: $cbp-spmenu-horizontal-overflow;
}

.cbp-spmenu-horizontal h3 {
	height: $cbp-spmenu-horizontal-h3-height;
	width: $cbp-spmenu-horizontal-h3-width;
	float: $cbp-spmenu-horizontal-h3-float;
}

.cbp-spmenu-horizontal a {
	float: $cbp-spmenu-horizontal-a-float;
	width: $cbp-spmenu-horizontal-a-width;
	padding: $cbp-spmenu-horizontal-a-padding;
	border-left: $cbp-spmenu-horizontal-a-border-left;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: $cbp-spmenu-left-left;
}

.cbp-spmenu-right {
	right: $cbp-spmenu-right-right;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: $cbp-spmenu-left-open;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: $cbp-spmenu-right-open;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: $cbp-spmenu-top-top;
}

.cbp-spmenu-bottom {
	bottom: $cbp-spmenu-bottom-bottom;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: $cbp-spmenu-top-open;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: $cbp-spmenu-bottom-open;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: $cbp-spmenu-push-overflow-x;
	@include position($cbp-spmenu-push-position, null null null $cbp-spmenu-push-left);
}

.cbp-spmenu-push-toright {
	left: $cbp-spmenu-push-toright-left;
}

.cbp-spmenu-push-toleft {
	left: $cbp-spmenu-push-toleft-left;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	@include transition($cbp-spmenu-transition);
}

/* Example media queries */

@media screen and (max-width: $cbp-spmenu-max-width-large){

	.cbp-spmenu-horizontal {
		font-size: $cbp-spmenu-horizontal-large-font-size;
		height: $cbp-spmenu-horizontal-large-height;
	}

	.cbp-spmenu-top {
		top: $cbp-spmenu-top-large-top;
	}

	.cbp-spmenu-bottom {
		bottom: $cbp-spmenu-bottom-large-bottom;
	}

}


@media screen and (max-height: $cbp-spmenu-horizontal-small-max-width){

	.cbp-spmenu-vertical {
		font-size:$cbp-spmenu-vertical-small-font-size;
		width: $cbp-spmenu-vertical-small-width;
	}

	.cbp-spmenu-left {
		left: $cbp-spmenu-left-small-left;
	}
    .cbp-spmenu-push-toleft {
		left: $cbp-spmenu-push-small-toleft-left;
	}

	.cbp-spmenu-right {
		right: $cbp-spmenu-right-small-right;
	}

	.cbp-spmenu-push-toright {
		left: $cbp-spmenu-push-toright-small-left;
	}
}

nav#cbp-spmenu-s1 {
    border: $cbp-spmenu-s1-border;

}
