<!DOCTYPE html>
{% if ie8 %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
{% endif %}
<html class="no-js">
{% if ie8 %}
<!--<![endif]-->
{% endif %}
    <head>
        <meta charset="{{ meta.charset }}">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>{{ meta.title }}</title>
        <meta name="description" content="{{ meta.description }}"/>
        <meta name="author" content="{{ meta.author }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% block stylesheets %}
        <link href="_common/css/styles.css" rel="stylesheet" />
        {% endblock %}
        {% block javascripts %}
            {% if ie8 %}
            <!--[if lt IE 9]>
            <script src="_common/js/lib/vendor/jquery-leagcy/dist/jquery.min.js"></script>
            <script src="_common/js/lib/vendor/html5shiv/dist/html5shiv.min.js"></script>
            <script src="_common/js/lib/vendor/selectivizr/selectivizr.js"></script>
            <script src="_common/js/lib/vendor/respond/dest/respond.min.js"></script>
            <script src="_common/js/lib/vendor/respond/dest/respond.matchmedia.addListener.min.js"></script>
            <![endif]-->
            <!--[if (gte IE 9) | (!IE)]><!-->
            {% endif %}
            <script src="_common/js/lib/vendor/jquery/dist/jquery.min.js"></script>
            {% if ie8 %}
            <!--<![endif]-->
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>