/* line 7, ../../../sass/infinite-scroll.scss */
.main {
  z-index: 0;
}

/* line 10, ../../../sass/infinite-scroll.scss */
.gen-page-content {
  left: 0px;
  margin: 0px 0px 0px 0px;
  padding-top: 50px;
}

/* line 16, ../../../sass/infinite-scroll.scss */
.gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  background: #333;
  z-index: 0;
  width: 160px;
  height: 100%;
  padding: 30px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 25, ../../../sass/infinite-scroll.scss */
.gen-sidebar ul {
  padding: 0px 0px 0px 0px;
}
/* line 28, ../../../sass/infinite-scroll.scss */
.gen-sidebar ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 31, ../../../sass/infinite-scroll.scss */
.gen-sidebar ul li a:hover {
  color: white;
}

/* line 40, ../../../sass/infinite-scroll.scss */
.gen-nav-toggle {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  z-index: 1;
  cursor: pointer;
  height: 38px;
  width: 100%;
  line-height: 30px;
  color: black;
  background-color: white;
  padding: 4px 4px 4px 4px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 56, ../../../sass/infinite-scroll.scss */
.gen-nav-toggle span {
  border: 1px solid #DDDDDD;
  background-color: white;
  height: 38px;
  width: 38px;
}

/* line 66, ../../../sass/infinite-scroll.scss */
#genSidebarToggler {
  display: none;
}
/* line 72, ../../../sass/infinite-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 78, ../../../sass/infinite-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-nav-toggle {
  left: 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 83, ../../../sass/infinite-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-page-content {
  left: 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 94, ../../../sass/infinite-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-sidebar {
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  left: 0px;
}
/* line 99, ../../../sass/infinite-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-nav-toggle {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 104, ../../../sass/infinite-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-page-content {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 120, ../../../sass/infinite-scroll.scss */
ul.submenu {
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}
