/* line 4, ../../../sass/one-page-scroll.scss */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

/* line 10, ../../../sass/one-page-scroll.scss */
div#scroll-body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 19, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2 {
  height: 100%;
  top: -100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 26, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3 {
  top: -200%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 33, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4 {
  top: -300%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 41, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5 {
  top: -400%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 48, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5.page6 {
  top: -500%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 55, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5.page6.page7 {
  top: -600%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 63, ../../../sass/one-page-scroll.scss */
section {
  text-align: center;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
/* line 70, ../../../sass/one-page-scroll.scss */
.focuspoint {
  position: relative;
  /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
  background: black url("images/loader.gif") no-repeat scroll center center;
}

/* line 76, ../../../sass/one-page-scroll.scss */
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}

/* line 91, ../../../sass/one-page-scroll.scss */
.lazy {
  opacity: 0;
  -webkit-transition: opacity 0.333s ease-in;
  -moz-transition: opacity 0.333s ease-in;
  transition: opacity 0.333s ease-in;
}

/* line 96, ../../../sass/one-page-scroll.scss */
.lazy-loaded {
  opacity: 1;
}

/* line 102, ../../../sass/one-page-scroll.scss */
#frog, #kea {
  position: relative;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  text-align: left;
}
/* line 113, ../../../sass/one-page-scroll.scss */
#frog h2:nth-child(2), #kea h2:nth-child(2) {
  text-indent: -2000px;
  -webkit-transition: text-indent 0.5s ease-out 0.5s;
  -moz-transition: text-indent 0.5s ease-out 0.5s;
  transition: text-indent 0.5s ease-out 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 119, ../../../sass/one-page-scroll.scss */
#frog p:nth-child(3), #kea p:nth-child(3) {
  text-indent: -2000px;
  -webkit-transition: text-indent 0.5s ease-out 1s;
  -moz-transition: text-indent 0.5s ease-out 1s;
  transition: text-indent 0.5s ease-out 1s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 124, ../../../sass/one-page-scroll.scss */
#frog p:nth-child(4), #kea p:nth-child(4) {
  text-indent: -2000px;
  -webkit-transition: text-indent 0.5s ease-out 1.5s;
  -moz-transition: text-indent 0.5s ease-out 1.5s;
  transition: text-indent 0.5s ease-out 1.5s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 131, ../../../sass/one-page-scroll.scss */
#frog img:nth-child(5), #kea img:nth-child(5) {
  position: relative;
  left: -2000px;
  -webkit-transition: left 0.5s ease-out 2s;
  -moz-transition: left 0.5s ease-out 2s;
  transition: left 0.5s ease-out 2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 138, ../../../sass/one-page-scroll.scss */
#frog h2.show, #frog p.show, #kea h2.show, #kea p.show {
  text-indent: 0px;
}
/* line 142, ../../../sass/one-page-scroll.scss */
#frog img.show, #kea img.show {
  left: 0px;
}

/* line 147, ../../../sass/one-page-scroll.scss */
#sharkhorse, #monkey {
  position: relative;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  text-align: left;
}
/* line 159, ../../../sass/one-page-scroll.scss */
#sharkhorse h2:nth-child(2), #monkey h2:nth-child(2) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 0.7s;
  -moz-transition: text-indent 1s ease-out 0.7s;
  transition: text-indent 1s ease-out 0.7s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 165, ../../../sass/one-page-scroll.scss */
#sharkhorse p:nth-child(3), #monkey p:nth-child(3) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 1.2s;
  -moz-transition: text-indent 1s ease-out 1.2s;
  transition: text-indent 1s ease-out 1.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 170, ../../../sass/one-page-scroll.scss */
#sharkhorse p:nth-child(4), #monkey p:nth-child(4) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 1.7s;
  -moz-transition: text-indent 1s ease-out 1.7s;
  transition: text-indent 1s ease-out 1.7s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 177, ../../../sass/one-page-scroll.scss */
#sharkhorse img:nth-child(5), #monkey img:nth-child(5) {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: relative;
  top: 200px;
  left: 200px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.3);
  -moz-transform: translate3d(0, 0, 0) scale(1.3);
  -ms-transform: translate3d(0, 0, 0) scale(1.3);
  -o-transform: translate3d(0, 0, 0) scale(1.3);
  transform: translate3d(0, 0, 0) scale(1.3);
}
/* line 184, ../../../sass/one-page-scroll.scss */
#sharkhorse h2.show, #sharkhorse p.show, #monkey h2.show, #monkey p.show {
  text-indent: 0px;
}
/* line 188, ../../../sass/one-page-scroll.scss */
#sharkhorse img.show, #monkey img.show {
  top: 0px;
  left: 0px;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 197, ../../../sass/one-page-scroll.scss */
#zebras, #buffalo, #lion {
  position: relative;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  text-align: left;
}
/* line 209, ../../../sass/one-page-scroll.scss */
#zebras h2:nth-child(2), #buffalo h2:nth-child(2), #lion h2:nth-child(2) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 0.7s;
  -moz-transition: left 1s ease-out 0.7s;
  transition: left 1s ease-out 0.7s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 216, ../../../sass/one-page-scroll.scss */
#zebras p:nth-child(3), #buffalo p:nth-child(3), #lion p:nth-child(3) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 1.2s;
  -moz-transition: left 1s ease-out 1.2s;
  transition: left 1s ease-out 1.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 222, ../../../sass/one-page-scroll.scss */
#zebras p:nth-child(4), #buffalo p:nth-child(4), #lion p:nth-child(4) {
  position: relative;
  left: 4000px;
  -webkit-transition: left 1s ease-out 1.7s;
  -moz-transition: left 1s ease-out 1.7s;
  transition: left 1s ease-out 1.7s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 230, ../../../sass/one-page-scroll.scss */
#zebras img:nth-child(5), #buffalo img:nth-child(5), #lion img:nth-child(5) {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: relative;
  top: 200px;
  left: 200px;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) scale(1.3);
  -moz-transform: translate3d(0, 0, 0) scale(1.3);
  -ms-transform: translate3d(0, 0, 0) scale(1.3);
  -o-transform: translate3d(0, 0, 0) scale(1.3);
  transform: translate3d(0, 0, 0) scale(1.3);
}
/* line 237, ../../../sass/one-page-scroll.scss */
#zebras h2.show, #zebras p.show, #buffalo h2.show, #buffalo p.show, #lion h2.show, #lion p.show {
  left: 0px;
}
/* line 241, ../../../sass/one-page-scroll.scss */
#zebras img.show, #buffalo img.show, #lion img.show {
  top: 0px;
  left: 0px;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 253, ../../../sass/one-page-scroll.scss */
.main {
  z-index: 0;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 261, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-up, .nav-button-wrapper-down {
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 267, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-down {
  bottom: 80px;
}

/* line 271, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-up {
  top: 80px;
}
