/* line 4, ../../../sass/one-page-scroll.scss */
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

/* line 12, ../../../sass/one-page-scroll.scss */
div#scroll-body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 25, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2 {
  height: 100%;
  top: -100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 35, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3 {
  top: -200%;
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 45, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4 {
  top: -300%;
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 56, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5 {
  top: -400%;
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 66, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5.page6 {
  top: -500%;
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 76, ../../../sass/one-page-scroll.scss */
div#scroll-body.page2.page3.page4.page5.page6.page7 {
  top: -600%;
  height: 100%;
  transition: top 0.4s ease-in;
  -ms-transition: top 0.4s ease-in;
  -moz-transition: top 0.4s ease-in;
  -webkit-transition: top 0.4s ease-in;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
}

/* line 87, ../../../sass/one-page-scroll.scss */
section {
  text-align: center;
}

/* line 91, ../../../sass/one-page-scroll.scss */
.blue {
  background-color: blue;
  color: white;
}

/* line 99, ../../../sass/one-page-scroll.scss */
.magenta {
  background-color: magenta;
  color: white;
}

/* line 104, ../../../sass/one-page-scroll.scss */
.red {
  background-color: red;
  color: white;
}

/* line 109, ../../../sass/one-page-scroll.scss */
.yellow {
  background-color: yellow;
  color: white;
}

/* line 114, ../../../sass/one-page-scroll.scss */
.green {
  background-color: green;
  color: white;
}

/* line 119, ../../../sass/one-page-scroll.scss */
.black {
  background-color: black;
  color: white;
}

/* line 124, ../../../sass/one-page-scroll.scss */
.aqua {
  background-color: aqua;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
/* line 130, ../../../sass/one-page-scroll.scss */
.focuspoint {
  position: relative;
  /*Any position but static should work*/
  overflow: hidden;
  height: 100%;
  background: black url("images/loader.gif") no-repeat scroll center center;
}

/* line 136, ../../../sass/one-page-scroll.scss */
.focuspoint img {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: block;
  /* fill and maintain aspect ratio */
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: none;
  max-width: none;
}

/* line 149, ../../../sass/one-page-scroll.scss */
.lazy {
  opacity: 0;
  transition: opacity .333s ease-in;
}

/* line 154, ../../../sass/one-page-scroll.scss */
.lazy-loaded {
  opacity: 1;
}

/* line 160, ../../../sass/one-page-scroll.scss */
.content {
  position: relative;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 20px;
  text-align: left;
}
/* line 171, ../../../sass/one-page-scroll.scss */
.content h2:nth-child(2) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 0.7s;
  -moz-transition: text-indent 1s ease-out 0.7s;
  transition: text-indent 1s ease-out 0.7s;
  transform: translate3d(0, 0, 0);
}
/* line 177, ../../../sass/one-page-scroll.scss */
.content p:nth-child(3) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 1.2s;
  -moz-transition: text-indent 1s ease-out 1.2s;
  transition: text-indent 1s ease-out 1.2s;
  transform: translate3d(0, 0, 0);
}
/* line 182, ../../../sass/one-page-scroll.scss */
.content p:nth-child(4) {
  text-indent: -2000px;
  -webkit-transition: text-indent 1s ease-out 1.7s;
  -moz-transition: text-indent 1s ease-out 1.7s;
  transition: text-indent 1s ease-out 1.7s;
  transform: translate3d(0, 0, 0);
}
/* line 189, ../../../sass/one-page-scroll.scss */
.content img:nth-child(5) {
  position: relative;
  left: -2000px;
  -webkit-transition: left 1s ease-out 2.2s;
  -moz-transition: left 1s ease-out 2.2s;
  transition: left 1s ease-out 2.2s;
  transform: translate3d(0, 0, 0);
}
/* line 196, ../../../sass/one-page-scroll.scss */
.content h2.show, .content p.show {
  text-indent: 0px;
}
/* line 200, ../../../sass/one-page-scroll.scss */
.content img.show {
  left: 0px;
}

/* line 208, ../../../sass/one-page-scroll.scss */
#sharkhorse img:nth-child(5) {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  position: relative;
  top: 200px;
  left: 200px;
  transform: translate3d(0, 0, 0) scale(1.3);
}
/* line 214, ../../../sass/one-page-scroll.scss */
#sharkhorse img.animated {
  top: 0px;
  left: 0px;
  transform: scale(1);
}

/* line 225, ../../../sass/one-page-scroll.scss */
.main {
  z-index: 0;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 230, ../../../sass/one-page-scroll.scss */
.gen-page-content {
  left: 0px;
  margin: 0px 0px 0px 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 237, ../../../sass/one-page-scroll.scss */
.gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  background: #333;
  z-index: 0;
  width: 160px;
  height: 100%;
  padding: 30px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 246, ../../../sass/one-page-scroll.scss */
.gen-sidebar ul {
  padding: 0px 0px 0px 0px;
}
/* line 249, ../../../sass/one-page-scroll.scss */
.gen-sidebar ul li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 252, ../../../sass/one-page-scroll.scss */
.gen-sidebar ul li a:hover {
  color: white;
}

/* line 261, ../../../sass/one-page-scroll.scss */
.gen-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  z-index: 1;
  cursor: pointer;
  height: 38px;
  width: 38px;
  line-height: 30px;
  color: white;
  background-color: transparent;
  padding: 4px 4px 4px 4px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 280, ../../../sass/one-page-scroll.scss */
#genSidebarToggler {
  display: none;
}
/* line 286, ../../../sass/one-page-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-sidebar {
  position: absolute;
  top: 0px;
  left: -160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 292, ../../../sass/one-page-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-nav-toggle {
  left: 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 297, ../../../sass/one-page-scroll.scss */
#genSidebarToggler + .gen-page-wrap .gen-page-content {
  left: 0px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 308, ../../../sass/one-page-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-sidebar {
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
  left: 0px;
}
/* line 313, ../../../sass/one-page-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-nav-toggle {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}
/* line 318, ../../../sass/one-page-scroll.scss */
#genSidebarToggler:checked + .gen-page-wrap .gen-page-content {
  left: 160px;
  -webkit-transition: left 0.4s ease-in;
  -moz-transition: left 0.4s ease-in;
  transition: left 0.4s ease-in;
  transform: translate3d(0, 0, 0);
}

/* line 334, ../../../sass/one-page-scroll.scss */
ul.submenu {
  overflow: hidden;
  height: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

/* line 341, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-up, .nav-button-wrapper-down {
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 347, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-down {
  bottom: 80px;
}

/* line 351, ../../../sass/one-page-scroll.scss */
.nav-button-wrapper-up {
  top: 80px;
}
